.profile-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .user-info-wrapper {
        display: flex;

        .user-avatar {
            height: 400px;
            width: 300px;
            border: 2px solid rgba($color: #ccc, $alpha: .8);

            .file-loader {
                display: none;
            }
        }
        .user-info-settings {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .user-info {

            }

            .profile-settings {
                display: flex;
                color: rgba($color: #138aeb, $alpha: .8);
                font-size: 15px;
                cursor: pointer;

                .change-user-data:hover,
                .delete-user-data:hover {
                    text-decoration: underline;
                }

                .delete-user-data {
                    margin-left: 10px;
                }
            }
        }
    }
}