.search-wrapper {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    #search-input{
        padding: 0 10px;
        height: 2rem;
        width: 80%;
        border: 1px solid rgba($color: #ccc, $alpha: .8);
        border-radius: 5px;
        outline: none;
        font-size: 1.3rem;
    }
}