.authentication-container {
  .login-sptif {
    font-size: 12px;
    padding: 11px 32px 9px;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 500px;
    color: #ffffff;
    background-color: #1db954;
    outline: none;
    border: #1db954;
    cursor: pointer;
  }
}