$spot-bg-color: #1db954;

.authentication-container {
    .login-sptif {
        font-size: 12px;
        padding: 11px 32px 9px;
        line-height: 1;
        text-transform: uppercase;
        border-radius: 500px;
        color: #ffffff;
        background-color: $spot-bg-color;
        outline: none;
        border: #1db954;
        cursor: pointer;
        transition: .33s ease-in-out;

        &:active {
            background-color: rgba($color: $spot-bg-color, $alpha: .6);
        }
    }
}