$wrapper-margin: 0 0 50px 0;
$wrapper-box-shadow: 20px 20px 92px #afafaf, -20px -20px 92px #ffffff;

@mixin button-fav-wrapper {
    .underline {
        margin: 3px auto;
        width: 0;
        visibility: hidden;
        transition: width 200ms ease-in-out;
    }

    .addToFavorBtn {
        cursor: pointer;
        background-color: #fff;
        outline: none;
        border: none;
        transition: .22s ease-in-out;
    }

    &:hover {
        .addToFavorBtn {
            color: #1db954;
        }

        .underline {
            border-color: #1db954;
            visibility: visible;
            width: 100%;
        }
    }
}

// TODO complete styles
.artistWrapper {
    display: flex;
    margin: $wrapper-margin;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: $wrapper-box-shadow;

    .artistMainInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .artistButtonWrapper {
            width: 135px;

            @include button-fav-wrapper;
        }
    }

    .artistGenreWrapper {
        display: flex;
        flex-direction: column;
        text-align: center;

        .artistGenreTitle {
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}
.trackWrapper {
    display: flex;
    margin: $wrapper-margin;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: $wrapper-box-shadow;

    .trackInformation {
        display: flex;
        flex-direction: column;

        .trackButtonWrapper {
            width: 135px;

            @include button-fav-wrapper;
        }
    }
}