$inputs-height: 2rem;

.searchContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20%;

    .selectors {
        margin-right: 20px;

        .currentSelectorWrapper {
            width: 150px;
            height: $inputs-height;
            border: 1px solid rgba(204, 204, 204, 0.8);
            cursor: pointer;
            transition: .22s ease-in;
            &:active {
                background-color: #cccccc;
            }

            .currentSelector {
                margin: 4px 0 0 0   ;
                text-align: center;
            }
        }

        .itemsList {
            padding: 0;
            position: absolute;
            border: 1px solid #ccc;
            border-top: none;
            margin: 0;
            background-color: #fff;

            .listItemArtist,
            .listItemSong {
                list-style: none;

                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    width: 150px;

                    &:hover {
                        background-color: #ccc;
                    }

                    #radio1,
                    #radio2 {
                        margin: 0 0 0 7px;
                    }

                    .listItemTitle {
                        padding: 0 7px 0 0;
                        margin: 5px 0 5px 0;
                    }
                }
            }
            .list-item-artist {
                border-bottom: .5px solid #ccc;
            }
        }

    }

    .searchInputWrapper {
        width: 100%;

        #searchField{
            padding: 0 10px;
            height: $inputs-height;
            width: 100%;
            border: 1px solid rgba($color: #ccc, $alpha: .8);
            border-radius: 5px;
            outline: none;
            font-size: 1.3rem;
        };

    }
}