.themeSwitcherContainer {
	width: 270px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;

	.dayMode,
	.nightMode {
		font-weight: 600;
		transition-duration: 100ms;
	}

	.switcher {
		display: inline-block;
		width: 55px;
		height: 20px;
		border-radius: 12px;
		background: #bfbfbf;
		z-index: 0;
		margin: 0;
		padding: 0;
		border: none;
		cursor: pointer;
		position: relative;
		transition-duration: 100ms;

		&::after {
			content: "";
			height: 30px;
			width: 30px;
			border-radius: 18px;
			background: #fff;
			top: -6px;
			left: -6px;
			transition-duration: 300ms;
			box-shadow: 0 0 10px 0 #999999;
			position: absolute;
			z-index: 1;
		}
	}
	.switchOn {
		background: #fff;
		box-shadow: inset 0 0 10px 0 #999999;

		&::after {
			left: 30px;
			background: #118c4e;
		}
	}
}
