.user-container {

    .user-info-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: #ffffff;

        .user-avatar {
            height: 60px;
            width: auto;
            border-radius: 50px;
        }

        .user-name {
            margin: 0 0 0 24px;
        }
    }
}